name: Deploy to Local VM

on:
  push:
    branches: [ master ]

jobs:
  build-and-deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build Docker Image
        run: docker build -t webstack-project .

      - name: Restart Systemd Service
        # We use sudo here because restarting services requires admin rights
        run: sudo systemctl restart webstack.service
